@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Homemade+Apple&family=Open+Sans&display=swap');

.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: #fff;
 z-index: 10000;
}
.header__left h3{
 font-family: 'Homemade Apple', cursive;
 color: rgb(107, 146, 253);
 font-size: 19px;
 cursor: pointer;
}
.header__left, .header__right{
 padding: 10px 40px;
}
.header__right{
 display: flex;
 align-items: center;
}
.header__right__links{
 padding-right: 25px;
}
.header__right__links i{
 font-size: 23px;
 cursor: pointer;
 padding: 0 15px;
 color: #000;
}
.header__btn{
 padding: 10px;
 border-radius: 10px;
 border: none;
 background-color: rgb(107, 146, 253);
 cursor: pointer;
 color: #fff;
}

@media screen and (max-width: 770px) {
 .header__left h3{
    font-size: 17px;
 }
 .header__right__links i{
  display: none;
 }
 .header__btn{
  padding: 8px;
 }
 .header__left, .header__right{
  padding: 10px 20px;
 }
}
